<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'base/head.html' %}
    {% block head %}{% endblock %}
</head>

<body class="bg-black text-white font-sans">

    <!-- HEADER -->
    {% include 'base/header.html' %}

    <!-- SLIDE -->
    {% include 'base/slide.html' %}

    <!-- TOP LEITORES -->
    {% include 'base/top_leitores.html' %}

    <!-- OBRAS EM DESTAQUE (FIXO OU BLOCK) -->
    {% block obras_em_destaque %}
        {% include 'base/obras_em_destaque.html' %}
    {% endblock %}

    <!-- CONTEÚDO PRINCIPAL -->
    {% block content %}{% endblock %}


    {% include 'base/trending.html' %}
    <!-- FOOTER (CORRETO) -->
    {% include 'base/footer.html' %}

</body>
</html>